{% extends "base.html" %}
{% block keyword %}
    <meta content="个人网站,博客,Django,SpringBoot,Python,JAVA,后端,心情" name="keywords">
{% endblock %}
{% block title %}
    关于我
{% endblock title %}
{% block body %}
<!--CONTENT WRAP-->
    <img  style="position: absolute" src="/static/images/mood10.jpg" >



<div  style="margin-top: 0px;"   class="content-wrap">
  <!--CONTENT-->
  <div   style="" class="content" >
	<!--HOME-->

	  <div  style="margin-top: 0px;" class="container">
		<div style="margin-top: 200px;" data-scroll-reveal="enter bottom over" class="row">
		  <div  class="wrap-hero-content">
			  <div  style="color: #007bff;;box-shadow:0px 1px 8px #000;" class="hero-content">
				<h1>Hello</h1>
				<br>
				<span class="typed"></span>
			  </div>

		  </div>

		</div>



<div   class="row" style="margin-top: 50%;">

    <div  class="layui-container">


 <div     style="margin-bottom: 100px;margin-left: 10%;margin-right: 10%" >
 <div data-scroll-reveal="enter right over" style="color: deepskyblue;font-size: 30px;"><span style="font-size: 30px;" class="layui-icon layui-icon-release"></span>About Me</div>
<hr class="layui-bg-green">

    <div style="padding: 10px;text-align: center;color: #007bff">

<img     src="/static/images/gaoxiao2.jpg" style="margin-top: 10px;margin-bottom:10px;height: 200px;width: 250px;" /><br>

         <b style="margin-top: 10px;font-size: 20px;">NickName：Biningo</b><br>
         <p style="color:black;font-size: 15px;">一个十分酷爱痴迷于Coding，并且从未停止学习新技术的小菜鸟<br>
         专注于JAVA、Python后端开发，go的忠实信徒 <br>
         平时喜欢吃饭、睡觉、打豆豆、跑步，相信付出就会有收获<br>
         梦想着有一天能用电脑完成自己想做的所有事情，并且一直努力着<br>
         学习成长的路上，我们长路漫漫,最后引用Python的一段话【本站就是用它写的，方便快捷嘛，谁都喜欢偷懒^_^，但是缺点也很明显了】<br>

      <pre class="layui-code" lay-title="JavaScript" lay-skin="notepad">
Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!
      </pre>
        <img    src="/static/images/gaoxiao4.gif" style="height: 200px;width: 250px;" />
    </div>




    </div> <!--关于自己-->

<div     style="margin-bottom: 70px;margin-left: 10%;margin-right: 10%" >
 <div data-scroll-reveal="enter right over" style="color: green;font-size: 30px;"><span style="font-size: 30px;" class="layui-icon layui-icon-release"></span>总结</div>
<hr class="layui-bg-green">
    <div style="text-align: center;font-size: 20px;color: #007bff">
<div style="margin-top: 10px;">

<img    src="/static/images/mood14.jpg" style="height: 300px;width: 450px;"/><br>
<div style="font-family: 华文楷体;line-height: 30px;font-size: 15px;color: black;text-align: center">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其实开发一个属于自己的网站应该是每个programmer的梦想和必须经历的一道坎吧。<br>
反正我是这么觉得的。每天都能在自己的网站上发发文章，发发感想，想想都美。即使没人看，内心也是有超大的满足感的<br>

可能多年以后，回过头再看，哇！这就是自己曾经奋斗的痕迹！<br>
    就想现在看小学初中的日记本一样。<br>"那个疯子，怎么会这么傻"。<br>

<img    src="/static/images/gaoxiao6.gif" style="height: 200px;width: 250px;"/><br>
<br>
<blockquote style="color: #007bff" class="layui-elem-quote">最后<br>
    感谢所有在成长路上帮助过我的人<br>
     感谢造我的父母     <br>
祝福每一个和我一样，甚至比我更加努力的人<br>只要有付出，就会有收获！</blockquote>





</div>

 </div>


    </div>

</div><!--建站感想-->

<div     style="margin-bottom: 100px; margin-left: 10%;margin-right: 10%" >
 <div  data-scroll-reveal="enter right over" style="color: red;font-size: 30px;"><span style="font-size: 30px;" class="layui-icon layui-icon-release"></span>反馈建议</div>
<hr class="layui-bg-green">
    <div style="padding: 15px;text-align: center;font-size: 20px;color: #007bff">
<img    src="/static/images/gaoxiao1.gif" style="height: 200px;width: 250px;" /><br>
        <p style="font-weight: bolder;color: red;">
            觉得本小站怎么样？<br>有兴趣的可以留言给我,或者邮箱联系，<br>
            本站所有文章均属于个人观点以及总结别人观点,<br>
            如有勘误，还望各位看官多多提意见，笔者虚心接受！

        </p>

<img    src="/static/images/gaoxiao5.gif" style="height: 200px;width: 250px;" />
 </div>


    </div> <!--反馈-->
<div class="layui-row" style="margin-top: 2%;">
<hr>
<footer  style="text-align: center">
                            ©copyright 2019-2023·如有侵权，请联系biningo@yeah.net<br>
    网站总访问量：{{ access_count }}  网站访客量：{{ access_people_count }}
    <br><a  style="color: #007bff;text-decoration: underline" href="http://www.beian.miit.gov.cn/"><img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/webLog.png">浙ICP备19035440号</a> </footer>

</div>
	  </div>

 </div>


<!--/.CONTENT-WRAP END-->
</div>


</div>

</div>


{% endblock body%}

