



/*面板头部*/
.tab-category a {
    display: inline-block;
    border-bottom: 3px solid #9E9E9E;
    margin: 0 5px;
    pointer-events: none;
}
.tab-category strong{
	color: #fff;
    background-color: #555555;
    margin: -1px 0 5px 0;
    display: inline-block;
    padding: 4px 15px;
    font-size: 14px;
}
/*tip*/
.slideTxtBox li a {
    line-height: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}

/*面板主体 li*/
.index_recd li {
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    list-style: decimal-leading-zero inside;
    font-style: oblique;
    font-size: 14px;
}
.index_recd li.index_recd_item {
	list-style:none;
}
.index_recd li a {
	color: #009688;
    max-width: 68%;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    font-style: normal;
}
.index_recd li .hits {
    font-size: 12px;
    color: #888;
    display: inline-block;
    vertical-align: top;
    font-style: normal;
}
/*面板主体 span*/
.tab-category-item>span {
	margin-right: 30px;
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
}







@media screen and (max-width:640px) {
    .slider .bd img { height: 130px;}/*slider height*/
	.index_arc li{padding:10px 10px 10px 120px;height: 66px;margin-bottom:  10px;}
	.index_arc li .title a{max-width: 95%;margin-right: 10px;overflow: hidden;text-overflow:clip;white-space: normal;font-size: 14px;line-height: 20px;height: 40px;}
	.index_arc li .pic{left:10px;top:10px;width:100px;height: 66px;line-height: 66px}
	.index_arc li .pic img{}
	.index_arc li .date_hits{margin-top: 5px;}
	.index_arc li .date_hits>span {display: none;}
	/*.index_arc li .hits{display: none;}*/
	.index_arc li .desc{display: none;}
	.index_arc{margin-bottom: 15px;}
	.index_arc li{line-height: 28px;}
	.index_arc li.pageNav-wrap a{max-width: 100%;}
	
	.index_recd li a {max-width: 60%;}

    /*评论头像*/
    .avatar.size-L, .avatar.size-L img {
        width: 30px;
        height: 30px;
    }
    .comment-main {
        margin-left: 40px;
    }
}
@media screen and (max-width:320px) {
    .slider .bd img { height: 100px;}
}
