
<li>
{% for article in article_list %}

<div style="padding: 15px;box-shadow:0px 2px 10px #000;" class="layui-card" >

             <fieldset class="layui-field-title" style="margin-bottom: 0px">

                 <legend><a   href="/article/detail/{{ article.created_time|date:'Y' }}/{{ article.created_time|date:'m'}}/{{ article.id}}/">{{ article.title }}</a><br>

                   <span style="margin-left: 10px;font-size: 13px;" class="layui-icon layui layui-icon-template-1"><a href="/article/category/{{ article.category.name }}/">{{ article.category.name }}</a></span>

                     {% for tag in article.tags.all %}

                <span class="layui-icon layui-icon-note" style="font-size:12px;"></span><a   style="text-decoration: underline;font-size: 13px;font-family:楷体; color: #4D344A" href="/article/tags/{{ tag.name }}/">{{ tag.name }}</a>
                    {% endfor %}
                </legend>
             </fieldset>
    {{ article.summary }}
<span  class="layui-badge layui-bg-gray">浏览{{ article.access_count }}</span><span class="layui-badge layui-bg-gray">{{ article.created_time|date:"Y-m-d" }}</span>
</div>
{% endfor %}
</li>